<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  <a href="https://railstutorial.jp">Ruby on Rails Tutorial</a>
  is a <a href="htttps://railstutorial.jp/#ebook">book</a> and
  <a href="htttps://railstutorial.jp/screencast">screencast</a>
  to teach web development with
  <a href="https://railstutorial.org">Ruby o Rails</a>.
  This is the sample app for the tutorial.
</p>