<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/emails" rel="noopener" 
        target="_blank">change</a>
    </div>
  </div>
</div>

<%#=
  app/models/user.rb   user
  app/controllers/sessions_controller.rb  ns_c
  app/controllers/users_controller.rb     rs_c
  app/helpers/sessions_helper.rb          ns_h

  app/views/users/edit.html.erb           u/e
%>